/*This is the part of the webpage, you can click on any of the links and it will be automatically take you to that part of the 
webpage */
.navigation {
    z-index: 5;
    background-color: #333;
    overflow: hidden;
    width: 100%;
}

/*Changing the properties of the navigation links to make them look more appealing*/
.navigation a{
    margin: 0 auto;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 109px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 17px;
    
}

html {
    scroll-behavior: smooth;
}


/*===========================================================================TOP CLASS================================================================*/
/*This section is dedicated to the top class/introductory section of the website*/



/*Setting the properties for the "top" class/portion of the website*/
.top{
    width: 1240px;
    position: relative;
    background-color: white;
    margin: auto;
    
}

/*Setting the properties for the titles (h1 elements) of each section*/
.intro-text h1, .brief-intro h1, .finding-team h1, .total-points h1, .top h1{
    font-family: 'Cinzel', serif;
    letter-spacing: 20px;
    text-align: center;
    width: 90%;
    padding: 50px;
    margin: auto;
    background-color: grey;
    border: 2px solid black;
    margin-bottom: 50px;
    color: white;
    margin-top: 20px;
    overflow: hidden;
    text-shadow:-5px 5px 1px black;
}

/*Setting the properties for the paragraph elements in the introduction section*/
.intro-text p{
    font-family: 'Times New Roman';
    letter-spacing: 5px;
    font-size: 18px;
    text-align: center;

}

/*Setting the properties for the background image (pseudo-background image) in the introduction section*/
#background-image{
    animation-name: reduce;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    height: 563px;
    width: 1200px;
    z-index: -1;
    margin: auto;
    margin-bottom: 125px;
    display: block;
    border: black 20px solid;
}

/*Setting the properties for when you hover over the image, giving the illusion that the image is popping out to you*/
#background-image:hover{
    animation-name: enlarge;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 15px 15px grey;
    z-index: 100;
}

/*Creating the animations for the image, the first one to give the illusion of it zooming in, the second one to give the illusion of it zooming out*/
@keyframes enlarge {
    10% {margin-left: -5px}
    20% {margin-left: -10px}
    30% {margin-left: -15px}
    40% {margin-left: -20px}
    50% {margin-left: -25px}
    60% {margin-left: -30px}
    70% {margin-left: -35px}
    80% {margin-left: -40px}
    90% {margin-left: -45px}
    100% {margin-left: -50px}
    from {height: 563px; width: 1200px}
    to {height: 600px; width: 1300px; margin-left: -55px}
}

@keyframes reduce {
    10% {margin-left: -50px}
    20% {margin-left: -45px}
    30% {margin-left: -40px}
    40% {margin-left: -35px}
    50% {margin-left: -30px}
    60% {margin-left: -25px}
    70% {margin-left: -20px}
    80% {margin-left: -15px}
    90% {margin-left: -10px}
    100% {margin-left: -5px}
    from {height: 600px; width: 1300px; margin-left: -55px}
    to {height: 563px; width: 1200px}
}

/*===========================================================================INTRO-VID CLASS================================================================*/
/*This section is dedicated to the cinmematic used in 2019's holiday bash, gives students an idea as to what the house system entails,
something visual to get them hyped*/
.intro-vid{
    text-align: center;
}


video {
    width: 600px;
    height: 600px;
    margin-bottom: 125px;
}

/*===========================================================================BRIEF-INTRO CLASS================================================================*/
/*This section is dedicated to the true introduction section of the website, talking about what the house system is, lore behind it*/


/*Setting the properties for the entire class*/
.brief-intro{
    width: 1240px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 0 0 15px 15px grey;  
    background-color: white; 
    margin-bottom: 125px;
}

/*Setting the properties for the rundown paragraph of the website*/
.rundown{
    width: 1000px;
    margin: auto;
    text-align: center;
}

/*Setting the properties for the images within the images class*/
.images img{
    width: 400px;
    height: 400px;
    margin-left: 140px;
    margin-bottom: 100px;
}

/*Setting the properties for the images within the images class when you hover over it*/
.images img:hover{
    /*Maybe add a quick animation to when the images are hovered over?*/
    box-shadow: 0 0 5px 5px yellow;
}



/*===========================================================================FINDING-TEAM CLASS================================================================*/
/*This section is dedicated to the finding-team class, where students can type their name in and find their house team*/


/*Setting the properties for the finding-team class*/
.finding-team{
    width: 1240px;
    margin: auto;
    margin-bottom: 125px;
    background-color: white;
    margin-top: 20px;
    height: 750px;
    box-shadow: 0 0 15px 15px grey; 
    overflow: hidden;
}


/*Setting the properties for the images within the .team-display class*/
.team-display img{
    height: 500px;
    width: 550px;
    float: left;
    margin-right: 150px;
    margin-left: 120px;
}

/*Setting the properties for the text that will explain what the user should do in this section*/
.user-input{
    font-size: 22px;  
    text-align: center;
    margin-left: 50px;
}


/*Setting the properties for the input tag (where the user will be inputting their first and last name)*/
input {
    font-size: 24px;
    font-style: italic;
    color: gray;
}

/*===========================================================================TOTAL-POINTS CLASS================================================================*/
/*This section is dedicated to the total points class, the section provides the user with information regarding the points each house has*/
.total-points{
    width: 1240px;
    margin: auto;
    background-color: white;
    margin-top: 20px;
    height: 750px;
    box-shadow: 0 0 15px 15px grey;
    overflow: hidden;
    margin-bottom: 125px;
}

/*Setting the properties for the bargraph*/
#point-bargraph{
    width: 550px;
    height: 400px;
    margin: 0 auto;
}
